.main{
    margin: 30px;
}
.media-object{
    width: 42px;
    height: 42px;
}
.text-desc{
    font-size: 12px;
    font-weight: normal;
    color: #999;
}
.general{
    height: 40px;
    width: 40px;
}
.navigation{
    height: 26px;
    width: 26px;
}
.comments {
    padding-bottom: 5px;
    margin-bottom: 15px;
    border-bottom: 1px solid #eee;
}
.comment{
    margin: 10px 0;
}
.sub-comments{
    margin-top: 10px;
    border: 1px solid #eee;
    padding-top: 15px;
    border-radius: 5px;
    margin-bottom: 15px;
}

.commentPictureGeneral{
    height: 30px;
    width: 30px;
}
.menu{
    color: #2b669a;
}
.menu .icon {
    margin-right: 6px;
    font-size: 15px;
    cursor: pointer;
}
.menu .active {
    color: #499ef3;
}

.menu .icon:hover {
    color: #499ef3;
}
.question-tag {
    margin-right: 7px;
}
.question-rated{
    line-height: 30px;
    font-size: 20px;
    margin-left: 0;
    list-style: none;
    padding-left: 0;
}
.question-weChat{
    width: 170px;
}

.publish-tag-tab {
    display: none;
    margin-top: 10px;
    padding-top: 10px;
}
.community-tag {
    text-decoration-line: none;
    cursor: pointer;
    display: inline-block;
    height: 20px;
    line-height: 16px;
    padding: 2px 5px;
    background-color: #99cfff;
    font-size: 17px;
    color: #fff !important;
    border-radius: 4px;
    margin: 4px;
}
